@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.container {
    width: 1000px;
    margin: auto;
}

body {
    font-family: "Lato", sans-serif;
    background: #eee;
}

h1{
    margin: 25px;
}

text {
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

text.title {
    font-size: 14px;
    text-anchor: middle;
    font-weight: bold;
    transform: translate(0, 7px);
    opacity: 0.8;
    /* margin: 50px; */
}


g.axis-y circle {
    fill: none;
    stroke: rgba(180,180,180);
    stroke-width: 1;
}

g.axis-y text {
    fill: rgba(50,50,50);
    font-weight: normal;
    /* stroke: white; */
    stroke-width: 1px;
}